<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Io-SQS-Test-Suite">
    <test name="Siddhi-io-sqs-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <!--<class name="org.wso2.extension.siddhi.io.sqs.sink.TestCaseOfSQSSink"/>-->
            <class name="org.wso2.extension.siddhi.io.sqs.source.TestCaseOfSQSSource"/>
            <!--<class name="org.wso2.extension.siddhi.io.sqs.source.TestCaseForSourceWithSiddhiAppRuntime"/>-->
        </classes>
    </test>
</suite>